<div class="container">
    <div class="row">
        <div class=" col-4"></div>
        <div class=" col-4">
            <h1 class="title-funny-challenger">Funny challenger</h1>
        </div>
        <div class=" col-4"></div>
    </div>
    <div class="box-add ">
        <form #f="ngForm" [formGroup] ="form " class="row">
            <div class="form-group col-4">
                <label for="input-title">Add a Title</label>
                <input  class="form-control" id ="textTitle"formControlName="textTitle" >
            </div>
            <div class="form-group col-4">
                <label for="input-text">Add a Text</label>
                <textarea  class="form-control" id ="text" formControlName="text" id="w3review" name="w3review" rows="4" cols="50"></textarea>
            </div>

            <div class=" col-4">
                <button class="btn btn-primary" (click)="add()" [disabled]="!f.valid" >Add</button>
            </div>
        </form>
    </div>
</div>
<div class="container">
    <div class="timeline"  *ngFor= "let item of listItensTimeline$ | async, let i = index ">
            <div *ngIf="i%2==0; else template">
                <div class="container1 left">
                    <span class="icons"><i class="icon fa fa-home"></i></span>
                    <div class="content">
                        <h2 class="title">{{item.textTitle}}</h2>
                        <p>
                           {{item.text}}
                        </p>
                    </div>
            </div>
        </div>
        <ng-template #template>
            <div class=" container1 right">
                <span class="icons"><i class="icon fa fa-user"></i></span>
                <div class="content">
                    <h2 class="title">{{item.textTitle}}</h2>
                    <p>
                       {{item.text}}
                    </p>
                </div>
            </div>

        </ng-template>
    
    </div>

    
</div>
      
